.section-destaque-calendar-resultados {
  .row {
    > div {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        padding-right: 30px;
      }

      &:nth-child(2) {
        padding-left: 30px;
      }

      @media (max-width: 991px) {
        padding: 0 15px !important;

        &:nth-child(2) {
          margin-top: 38px;
        }
      }

      > h2 {
        color: var(--text-secondary-01-default);
        font-size: rem(28);
        font-weight: 700;
      }
    }

    .footer-central-result-home {
      display: flex;
      align-items: center;
      gap: 35px;

      margin-top: auto;

      a {
        color: var(--text-secondary-01-default);
        font-size: rem(14);
      }
    }
  }
}

.section-create-mailing {
  padding-top: 56px;
  padding-bottom: 56px;

  h3 {
    margin-top: 0;
    text-align: center;
    color: var(--text-secondary-01-default);
    margin-bottom: 8px;
  }

  p {
    text-align: center;
  }

  .form-mailing-home {
    display: flex;
    justify-content: center;
    gap: 16px;

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }

    margin-top: 40px;

    .div-input {
      max-width: 240px;
      background: transparent !important;

      @media (max-width: 575px) {
        max-width: 300px;
      }
    }

    .primary-button {
      padding-top: 6px;
      padding-bottom: 6px;

      @media (max-width: 575px) {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}

.section-create-mailing-bg-blue {
  background-image: url("../images/bg-mailing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    background-color: var(--primary-2);
    background-image: none;
  }

  h3 {
    color: var(--text-white);
    margin-bottom: 8px;
    margin-top: 0;
  }

  p {
    color: var(--text-white);
  }

  .form-div-right {
    @media (min-width: 991px) {
      padding-left: 10px;
    }
  }

  .form-mailing-home {
    margin-top: 30px;

    .div-input {
      max-width: 100%;
      margin-bottom: 16px;

      input {
        background-color: var(--pure-white);
      }
    }

    .primary-button {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.section-razoes-investir {
  background-image: url("../images/bg-razoesInvestir.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--text-white);

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    color: var(--text-white);
  }
}

.section-flex-destaques-footer-home {
  padding: 0;

  .flex-destaques-footer-home {
    display: flex;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    .item-flex-home {
      width: calc(100% / 3);

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        transition: 0.3s ease-in;
      }

      &:hover {
        &::before {
          content: "";
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      > div {
        padding: 64px 30px;
        position: relative;
        z-index: 1;

        .secondary-button {
          border-color: var(--text-white);
          color: var(--text-white);
          margin-top: 40px;

          &:hover {
            background-color: var(--text-white);
            color: var(--pure-black);
          }
        }
      }

      @media (max-width: 991px) {
        width: 100%;
      }

      img {
        width: 56px;
      }

      h4 {
        color: var(--text-white);
        font-size: rem(20);
        margin-top: 12px;
        margin-bottom: 8px;
      }

      p {
        color: var(--text-white);
      }
    }
  }
}

.banner-texture {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  width: 100%;
}

.infos-banner {
  z-index: 10;
  position: relative;
  padding-top: 86px;

  @media (max-width: 1439px) {
    padding-top: 100px;
  }

  .texts-banner {
    width: 853px;
    margin-left: 7.65625vw;

    @media (max-width: 1439px) {
      margin-left: 0px;
    }

    @media (max-width: 1199px) {
      padding-top: 64px;
    }

    @media (max-width: 991px) {
      width: 677px;
    }

    @media (max-width: 768px) {
      width: 500px;
    }

    @media (max-width: 624px) {
      position: relative;
    }

    h1 {
      color: #1d1d1d;
      font-size: rem(60);
      font-weight: 300;
      font-family: "Sofia Sans", sans-serif;
      margin: 0;
      padding: 0;

      @media (max-width: 1406px) {
        font-size: 50px;
      }

      @media (max-width: 800px) {
        font-size: 44px;
      }

      span {
        color: #1e524f;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
    }

    .description-text {
      h4 {
        color: #666666;
        font-size: 26px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 400;
        padding: 40px 0px;
        margin: 0;

        @media (max-width: 1406px) {
          font-size: 24px;
        }
      }
    }

    .btns-banner {
      display: flex;
      gap: 24px;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .btn-1 {
        padding: 16px 28px;
        background-color: #194341;
        border-radius: 50px;

        color: #fff;
        font-size: 18px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 400;
        text-decoration: none;

        @media (max-width: 1406px) {
          // font-size: 16px;
        }
      }

      .btn-2 {
        padding: 16px 28px;
        border: 1px solid #194341;
        border-radius: 50px;

        color: #194341;
        font-size: 18px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }

  .container-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.texts-carrosel {
  position: relative;
  z-index: 10;
  // margin-left: 7.65625vw;
  padding-top: 64px;
  padding-bottom: 80px;

  @media (max-width: 1200px) {
    padding-top: 112px;
  }

  @media (max-width: 624px) {
    margin-top: 112px;
    // padding-top: 0px;
  }

  h6 {
    color: #998f7a;
    font-size: 18px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #333333;
    font-size: 35px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    padding-top: 20px;
    margin: 0;

    span {
      color: #333333;
      font-size: 35px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 700;
    }
  }
}

.swiper-button-prev {
  left: -139px !important;
  right: 90px !important;

  background-color: #998f7a;
  padding: 16px 28px;
  border-radius: 50px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url("../../images/carbon_arrow-left.png") !important;
  margin-top: -8px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("../../images/carbon_arrow-right.png") !important;
  margin-top: -8px;
}

.swiper-button-next {
  background-color: #998f7a;
  padding: 16px 28px;
  border-radius: 50px;

  left: -139px !important;
  right: 90px !important;
  margin-top: 45px !important;
}

.wrapper-home {
  display: flex;
  gap: 24px;

  @media (max-width: 650px) {
    gap: 0px;
  }

  .swiper-slide {
    height: 593px;
    width: 417px !important;
    border-radius: 16px;
    padding: 80px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    min-width: 329px;

    @media (max-width: 870px) {
      padding: 64px 28px;

      &:hover {
        min-width: unset !important;
      }
    }

    @media (max-width: 640px) {
      width: 100% !important;
      min-width: unset !important;
    }

    &:hover {
      transition: 0.5s;
      min-width: 550px;

      .texts-slide {
        p {
          transition: 0.5s;
          margin-bottom: 62px;
        }
      }
    }

    .bg-slide {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;

      &::after {
        content: "";
        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.87718837535014) 0%,
          rgba(0, 0, 0, 0.44861694677871145) 72%
        );
        background: -webkit-linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.87718837535014) 0%,
          rgba(0, 0, 0, 0.44861694677871145) 72%
        );
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.87718837535014) 0%,
          rgba(0, 0, 0, 0.44861694677871145) 72%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        border-radius: 16px;
      }

      img {
        height: 593px;
        object-fit: cover;
        border-radius: 16px;
      }
    }

    .btn-slide {
      width: fit-content;
      padding: 6px 16px;
      background-color: #998f7a;
      border-radius: 100px;

      color: white;
      font-size: 18px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 700;
      line-height: 21.6px;
      word-wrap: break-word;
      text-transform: uppercase;
    }

    .texts-slide {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      h4 {
        position: absolute;
        top: 0;
        margin-top: 222px;

        color: white;
        font-size: 24px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 700;
        line-height: 28.8px;
        word-wrap: break-word;
      }

      p {
        position: absolute;
        top: 0;
        margin-top: 301px;

        color: white;
        font-size: 18px;
        font-family: Arial;
        font-weight: 400;
        line-height: 27px;
        word-wrap: break-word;
        transition: 0.5s;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 290px !important;
}

.estrutura-home {
  padding-top: 638px;
  margin-top: -469px;
  // margin-top: -258px;
  background-image: url("../../images/bg-2.png");
}

.container-estrutura {
  margin-left: 222px;
}

.texts-estrutura {
  width: 911px;

  @media (max-width: 992px) {
    width: 100%;
  }

  h6 {
    margin: 0;
    padding: 0;

    padding-bottom: 48px;

    color: #d9cdb5;
    font-size: 18px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 700;
    line-height: 21.6px;
    word-wrap: break-word;
  }

  h2 {
    margin: 0;
    padding: 0;

    color: white;
    font-size: 42px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    line-height: 50.4px;
    word-wrap: break-word;

    @media (max-width: 768px) {
      font-size: 31px;
    }

    span {
      color: #d9cdb5;
    }
  }
}

.cards-estrutura {
  padding-top: 112px;
  padding-bottom: 237px;
  // padding-left: 142px;

  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  justify-content: flex-start;

  .card {
    // width: 455px;
    // height: 321px;
    border-radius: 16px;
    background-color: #266663;
    padding: 48px 32px;

    .card-title {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      border-radius: 100px;
      background-color: #998f7a;
      width: fit-content;

      h6 {
        margin: 0;
        padding: 0;

        color: white;
        font-size: 18px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 700;
        line-height: 21.6px;
        word-wrap: break-word;
        text-transform: uppercase;
      }
    }

    .card-texts {
      h5 {
        margin: 0;
        padding: 0;

        padding: 24px 0px;

        color: white;
        font-size: 22px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 500;
        line-height: 26.4px;
        word-wrap: break-word;
      }

      span {
        color: white;
        font-size: 18px;
        font-family: Arial;
        font-weight: 400;
        line-height: 27px;
        word-wrap: break-word;
      }
    }
  }
}

.video-home {
  margin-top: -120px;

  @media (max-width: 1199px) {
    .container {
      max-width: 100%;
    }

    .ghost-video {
      border-radius: 0;
    }
  }

  .container {
    padding: 0px !important;

    @media (max-width: 768px) {
      // padding-left: 40px !important;
      // padding-right: 40px !important;
    }
  }
}

.video {
  border-radius: 8px;

  @media (max-width: 1200px) {
    border-radius: 0px;
  }

  video {
    width: 100%;
    object-fit: cover;
    height: 795px;
    border-radius: 8px;

    @media (max-width: 1200px) {
      border-radius: 0px;
    }
  }
}

.infos-video {
  position: relative;
  z-index: 4;
  margin-top: -430px;

  @media (max-width: 1439px) {
    padding: 0px 120px;
  }

  @media (max-width: 893px) {
    padding-right: 40px;
    padding-left: 40px;
  }

  .texts-video {
    padding-bottom: 80px;

    @media (max-width: 775px) {
      padding-bottom: 168px;
    }

    @media (max-width: 502px) {
      top: -57px;
      position: relative;
      padding-bottom: 105px;
    }

    @media (max-width: 454px) {
      padding-bottom: 7.683863885839736vh;
    }

    @media (max-width: 389px) {
      top: -93px;
      padding-bottom: 0.683864vh;
    }

    h6 {
      color: #d9cdb5;
      font-size: 18px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 700;
      line-height: 21.6px;
      word-wrap: break-word;

      margin: 0;
      padding: 0;
    }

    h1 {
      color: white;
      font-size: 52px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 700;
      line-height: 62.4px;
      word-wrap: break-word;

      padding-top: 36px;
      margin-bottom: 24px;
    }

    h4 {
      color: white;
      font-size: 18px;
      font-family: Arial;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;

      margin-bottom: 24px;
      padding: 0;
    }

    a {
      color: white;
      font-size: 18px;
      font-family: Arial;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;
      text-decoration: none;
    }
  }
}

.cards-video {
  display: flex;
  gap: 16px;
  width: 100%;
  padding-bottom: 80px;

  @media (max-width: 1143px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: 775px) {
    display: flex;
    flex-direction: column;
  }

  .card {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #998f7a;

    @media (max-width: 1143px) {
    }

    h1 {
      margin: 0;
      padding: 0;

      color: #266663;
      font-size: 64px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 700;
      line-height: 76.8px;
      word-wrap: break-word;

      span {
        color: #998f7a;
        font-size: 64px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 300;
        line-height: 76.8px;
        word-wrap: break-word;
      }
    }

    h3 {
      margin: 0;
      padding: 0;

      color: #1d1d1d;
      font-size: 18px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 600;
      line-height: 22.32px;
      word-wrap: break-word;
    }
  }
}

.clientes-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  img {
    width: fit-content;
    padding-bottom: 16px;
  }

  h2 {
    margin: 0;
    padding: 0;

    padding-bottom: 32px;
    color: #1e524f;
    font-size: 42px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    line-height: 50.4px;
    word-wrap: break-word;
  }
}

.logos-cliente {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9248074229691877) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9248074229691877) 21%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9248074229691877) 41%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);

  padding-bottom: 112px;

  @media (max-width: 772px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: -webkit-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.924807423) 21%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.924807423) 20%,
      rgba(255, 255, 255, 0) 145%
    );
  }

  @media (max-width: 530px) {
    grid-template-columns: 1fr 1fr;
    background: -webkit-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.924807423) 21%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.924807423) -2%,
      rgba(255, 255, 255, 0) 129%
    );
  }

  img {
    position: relative;
    z-index: -1;

    @media (max-width: 530px) {
      margin: auto;
    }
  }
}

.duv-home {
  background-color: #ccbfa3;
  padding: 56px 0px;
  height: 100%;
  // margin-top: 112px;

  // @media (max-width: 1240px) {
  //   height: 294px;
  // }
}

.content-duv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1240px) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .text-duv {
    h2 {
      margin: 0;
      padding: 0;
      color: #1e524f;
      font-size: 42px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 400;
      line-height: 50.4px;
      word-wrap: break-word;
      padding-bottom: 16px;

      @media (max-width: 590px) {
        font-size: 38px;
      }
    }

    h5 {
      margin: 0;
      padding: 0;

      color: #000;
      font-size: 22px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 500;
      line-height: 26.4px;
      word-wrap: break-word;

      @media (max-width: 590px) {
        font-size: 18px;
      }
    }
  }

  .link-duv {
    @media (max-width: 1240px) {
      margin-top: 24px;
    }

    a {
      margin: 0;
      padding: 20px 48px;
      border-radius: 50px;
      background-color: #194341;
      text-decoration: none;
      color: white;
      font-size: 22px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 500;
      line-height: 26.4px;
      word-wrap: break-word;

      @media (max-width: 590px) {
        padding: 20px 38px;
      }
    }
  }
}

.ghost-video {
  height: 795px;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 8px;

  background: rgb(25, 67, 65);
  background: -moz-linear-gradient(
    0deg,
    rgba(25, 67, 65, 0.87718837535014) 0%,
    rgba(25, 67, 65, 0.44861694677871145) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(25, 67, 65, 0.87718837535014) 0%,
    rgba(25, 67, 65, 0.44861694677871145) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(25, 67, 65, 0.87718837535014) 0%,
    rgba(25, 67, 65, 0.44861694677871145) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#194341", endColorstr="#194341", GradientType=1);

  @media (max-width: 1200px) {
    border-radius: 0px;
  }
}

footer {
  padding: 72px 0px;
  background-color: #0f2928;
}

.footer-list {
  display: flex;

  @media (max-width: 1199px) {
    display: none;
  }

  .contents-list {
    border-right: 1px solid #383838;
    padding: 0px 14px;

    &:first-child {
      padding: 0px;
      padding-right: 24px;
    }

    .title {
      h6 {
        color: white;
        font-size: 18px;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 700;
        line-height: 21.6px;
        word-wrap: break-word;

        margin: 0;
        padding: 0;

        margin-bottom: 24px;
      }
    }

    .itens {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 120px;

      p {
        color: white;
        font-size: 16px;
        font-family: Arial;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;

        margin: 0;
        padding: 0;
      }
    }
  }
}

.footer-content {
  display: flex;
  gap: 40px;

  @media (max-width: 733px) {
    flex-direction: column;
  }
}

.footer-end {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 553px;

  .itens-end {
    h6 {
      margin: 0;
      padding: 0;

      margin-bottom: 24px;
      color: white;
      font-size: 18px;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 700;
      line-height: 21.6px;
      word-wrap: break-word;
    }

    span {
      margin: 0;
      padding: 0;

      color: white;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }

    p {
      margin: 0;
      padding: 0;

      color: white;
      font-size: 14px;
      font-family: Arial;
      font-weight: 700;
      line-height: 18.48px;
      margin-bottom: 24px;
      word-wrap: break-word;
    }
  }
}

.cadastro-footer {
  h6 {
    padding: 0;
    margin: 0;

    color: white;
    font-family: "Sofia Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;

    margin-bottom: 24px;
  }

  p {
    padding: 0;
    margin: 0;

    color: white;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .input-footer {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin: 24px 0px;

    input {
      background-color: white;
      border-radius: 2px;
      padding: 16px;
      border: none;
      width: 100%;
    }

    button {
      background-color: #d9cdb5;
      border-radius: 2px;
      padding: 12px;
      border: none;
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
      }
    }
  }
}

.social-footer {
  display: flex;
  gap: 16px;

  h6 {
    color: #fff;
    font-family: "Sofia Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    /* 21.6px */
    padding: 0;
    margin: 0;
  }

  .social-img {
    display: flex;
    gap: 16px;

    a {
      text-decoration: none;
    }
  }
}

.last-footer {
  background-color: #091a19;

  .last-itens-footer {
    padding: 24px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 830px) {
      display: grid;
      grid-template-columns: auto auto;
      gap: 21px;
    }

    @media (max-width: 680px) {
      grid-template-columns: auto;
    }

    a {
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;

      color: #999;

      font-family: Arial;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 132%;
    }

    .link-prisma {
      display: flex;

      a:first-child {
        border-right: 1px solid #999;
        padding-right: 16px;
      }

      a:nth-child(2) {
        padding-left: 16px;
      }
    }

    .logo-prisma {
      img {
        width: 101px;
      }
    }
  }
}

.header-internas {
  background-color: #194341;
  height: 200px;
  background-image: url("../../images/bg-textura.png");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  margin-top: 114px;

  .title-internas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 40px;

    h1 {
      color: white;
      margin: 0;
      padding: 0;

      font-family: "Sofia Sans", sans-serif;
      font-size: 52px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%;

      @media (max-width: 920px) {
        font-size: 39px;
      }
    }
  }
}

.headerFixoInternas {
  position: relative !important;
  background-color: white !important;
}

.texts-qs {
  padding: 64px 0px;

  h2 {
    margin: 0;
    padding: 0;

    font-family: "Sofia Sans", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #1e524f;

    @media (max-width: 920px) {
      font-size: 31px;
    }
  }

  .first-p {
    padding: 24px 0px;
  }

  p {
    margin: 0;
    padding: 0;

    color: #1d1d1d;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  h3 {
    margin: 0;
    padding: 0;
    padding-top: 40px;

    color: #1d1d1d;
    font-family: "Sofia Sans", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.first-content-qs {
  background-color: #f2f2f2;
}

.s-texts-qs {
  h2 {
    color: #1e524f;
    font-family: "Sofia Sans", sans-serif;

    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  p {
    color: #1d1d1d;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}

.img-qs-container {
  margin-bottom: -120px;
}

.s-texts-qs {
  margin-top: 180px;
  padding-bottom: 80px;
}

.s-texts-qs-s {
  color: #266663 !important;
  font-weight: 700 !important;
}

.plataformas-prisma {
  background-color: #f2f2f2;
}

.container-p {
  padding-top: 64px;
  padding-bottom: 112px;
}

.title-p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  h4 {
    margin: 0;
    padding: 0;

    color: #333;
    font-family: "Sofia Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.cards-p {
  display: flex;
  gap: 24px;
  justify-content: space-between;

  @media (max-width: 1101px) {
    display: grid;
    grid-template-columns: auto auto;
  }

  @media (max-width: 771px) {
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    width: 330px;
    border-radius: 8px;
    border: none;

    @media (max-width: 1101px) {
      width: 100%;
    }

    .card-image {
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        width: 330px;
        // height: 128px;

        @media (max-width: 1101px) {
          width: 100%;
        }
      }
    }

    .card-content {
      padding: 40px 24px;

      h4 {
        margin: 0;
        padding: 0;

        font-family: "Sofia Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        color: #1d1d1d;
        padding-bottom: 16px;
      }

      p {
        margin: 0;
        padding: 0;

        white-space: nowrap;
        overflow: hidden;
        color: #666;
        text-overflow: ellipsis;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 32px;

        // height: 173px;
      }

      a {
        margin: 0;
        padding: 0;
        text-decoration: none;

        color: #666;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}

@media (max-width: 1042px) {
  .texts-banner {
    position: absolute;
    z-index: 2;

    @media (max-width: 991px) {
      // width: 200px !important;
    }
  }

  .img-banner {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    @media (max-width: 624px) {
      position: absolute;
      top: 112px;
      height: 100%;
      // left: 196px;
    }

    &::before {
      content: "";
      width: 100%;
      position: absolute;
      height: 100%;
      top: 0;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.73) 0%,
        rgba(255, 255, 255, 0.73) 50%
      );
    }
  }

  .paginations-home {
    display: none;
  }
}

@media (max-width: 1228px) {
  .cards-estrutura {
    grid-template-columns: auto auto;
    grid-gap: 24px;

    @media (max-width: 992px) {
      grid-template-columns: auto;
    }
  }
}

.pagination-home-first {
  position: absolute;
  margin-left: -115px;
  margin-top: -400px;

  @media (max-width: 1096px) {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: initial !important;
    margin-bottom: 38px;
  }
}

.container-carrosel {
  margin-left: auto;
  margin-right: 0;
  max-width: 86vw;
  padding: 0;
  padding-left: 0px !important;
  padding-right: 0px !important;

  &::before {
    content: "";
    position: absolute;
    height: 700px;
    width: 131px;
    right: 0;
    z-index: 2;
    // border-radius: 8px;

    background: rgb(14, 66, 64);
    background: linear-gradient(
      90deg,
      rgba(14, 66, 64, 0) 50%,
      rgba(14, 66, 64, 0.32816876750700286) 66%
    );

    @media (max-width: 676px) {
      display: none;
    }
  }

  @media (max-width: 1096px) {
    max-width: 89vw;
  }

  @media (max-width: 676px) {
    max-width: 100%;
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}

.footer-mapa-site {
  display: none;
  margin-top: 40px;

  @media (max-width: 1199px) {
    display: flex;
  }
}
