.accordion {
  // margin: 24px 0;

  .accordion-item {
    border: none;
    background-color: transparent;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .accordion-header {
    line-height: normal;

    &:hover {
      button {
        &:hover {
          transition: 0.3s;
          background-color: #aacbc4;
          padding-left: 40px !important;

          &::after {
            margin-right: 12px;
          }
        }
      }

      .accordion-body {
        // border: 2px solid red;
      }
    }

    button {
      padding: 24px !important;
      font-size: rem(18);
      color: #333333;
      background-color: var(--bg-light);
      border: none;
      box-shadow: none;
      font-weight: 400;
      border-radius: 4px !important;

      font-family: Arial;
      font-weight: 400;
      line-height: 27px;
      transition: 0.3s;

      @media (max-width: 450px) {
        padding-right: 50px !important;
      }

      &::after {
        content: "\e906";
        font-family: var(--font-icomoon);
        position: absolute;
        right: 20px;
        font-size: rem(20);
        color: #17876d;

        transition: 0.3s ease;
        font-weight: 400;
        background-image: none;

        display: flex;
        // align-items: center;
      }

      &:not(.collapsed) {
        // background-color: #194341;

        border-radius: 8px 8px 0 0 !important;

        &::after {
          transform: rotate(45deg);
          // color: var(--text-white);
        }
        // color: var(--text-white);
      }

      &.collapsed:hover {
        // background-color: var(--primary-01-var-1);
      }
    }
  }

  // .accordion-collapse.collapsing .accordion-body {
  //   background-color: #fff !important;
  //   transition: 0.2s;
  // }

  .accordion-collapse {
    border: none;
    box-shadow: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    .accordion-body {
      padding: 0px 40px 24px 40px;
      border-radius: 0 0 9px 9px;
      transition: 0.3s;
      background-color: #aacbc4;
      font-size: 18px;
      font-family: Arial;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;
    }
  }
}

.accordion {
  button[aria-expanded="true"] {
    // border: 1px solid red;
    background-color: #aacbc4;
  }
}
